body {
    background-color: #333;

.card-body {
    flex-grow: 1;
    background-color: #2A2A2A;
    color: white;
    padding: 20px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}